{
    "plugins": [
		"macros",
        ["module-resolver", {
            "root": ["./"],
            "alias": {
                "components": "src/components",
                "styles": "src/styles",
                "scripts": "src/scripts",
                "utils": "src/utils",
            }
        }]
		/** Next plugin here */
	]
}
